main {
  padding: 5dvh 5dvw;
  height: 90dvh;
  gap: 2dvh;
}

main .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1dvh;
}

main .container {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 2dvh 5dvw;
  border-radius: 15px;
  gap:2dvh;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: var(--calfcs);
}

.container section{
      font-size: 1dvh;
}

h2 {
    color: #667eea;
}

p {
    line-height: 1.8;
}

.values {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 0dvh;
    gap: 2dvh;
}

.value-card {
    background: #f4f4f4;
    padding: 1dvw;
    border-radius: 8px;
    border-left: 4px solid #667eea;
}

.value-card h3 {
    color: #667eea;
    margin-bottom: 10px;
}