* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --logosizewidth: 25dvw;
    --logosizeheight: 15dvh;
}


body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  height: 100%;
  color: #333;
}

main {
  padding: 5dvh 5dvw;
  height: 90dvh;
  gap: 2dvh;
}
