
* {
        box-sizing: border-box;
        margin: 0;
    }

:root {
  --sidenavmargin: 20dvw;
  --calcfs: calc(0.5*(1.1dvw + 1.1dvh + 1.1vmin));
}

    body {
        margin: 0;
        overflow: hidden;
        background: #000;
        color: #00ff41;
        font-family: "Courier New", monospace;
        font-size: var( --calcfs);
        height: 100%;
    }

    canvas {
        position: fixed;
        inset: 0;
        z-index: 0;
    }

    .overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.55);
        z-index: 1;
   
    }

    .terminal {
        position:relative;
        margin: 10dvh 20dvw;
        z-index: 2;
        width: 60dvw; /*min(900px, 90dvw);*/
        height: 80dvh;
        background: rgba(0, 10, 3, 0.88);
        border: 1px solid #00ff41;

        box-shadow:
            0 0 10px #00ff41,
            inset 0 0 30px rgba(0, 255, 65, 0.08);
        
        display: flex;
        flex-direction: column;
    }
        

    .header {
        padding: 12px 18px;
        border-bottom: 1px solid #00ff41;
        text-shadow: 0 0 8px #00ff41;
        display: flex;
        justify-content: space-between;
        font-size-adjust: 0.25;

    }

    #enter{
         position: absolute;
  left: 0px;
  top: 0px;
  z-index: 3;
        background-color: antiquewhite;
        height: 100%;
        width: 100%;
        font-size: var(--calcfs);
        font-weight: bold;
        font-size-adjust: 1;

    }

    .status {
        color: #00ff41;
        font-size-adjust: 0.5;
    }


    .screen {
        flex: 1;
        padding: 20px;
        overflow-y: auto;
        text-shadow: 0 0 6px #00ff41;
        line-height: 1.6;
    }

    .line {
        white-space: pre-wrap;
    }

    .input-area {
        display: flex;
        border-top: 1px solid #00ff41;
        padding: 12px;
    }

    .prompt {
        margin-right: 10px;
        text-shadow: 0 0 8px #00ff41;
    }

    #command {
        flex: 1;
        background: transparent;
        border: none;
        outline: 5px red;
        color: #00ff41;
        font: inherit;
        caret-color: #00ff41;
        text-shadow: 0 0 6px #00ff41;
    }


    .glitch {
        animation: glitch 0.15s infinite alternate;
    }

    @keyframes glitch {
        from {
            text-shadow:
                2px 0 #00ff41,
                -2px 0 #003b10;
        }

        to {
            text-shadow:
                -2px 0 #00ff41,
                2px 0 #003b10;
        }
    }